.row {
    display: flex;
    height: 50px;
    margin-top: 10px;
    gap: 10px;
}

.col {
    color: white;
    background-color: #5f9f9f;
    flex: 1;
    padding: 15px;
}

.col-2 {
    color: white;
    background-color: #5f9f9f;
    flex: 2;
    padding: 15px;
}

.col-3 {
    color: white;
    background-color: #5f9f9f;
    flex: 3;
    padding: 15px;
}